        <section id="contacto" class="bg-gray-lighter">
          <div class="container-fluid">
            <div class="row pv-42">
              <div class="col-md-4 plp-7 mt-49 banner-lab">
                <div id="laboratoria-banner"><div class="laboratoria-icon" style="background-image: url(https://cdn.rawgit.com/Laboratoria/Laboratoria.02/master/LaboratoriaBanner/img/laboratoria-icon-black.png)"></div> <div class="laboratoria-label"> <p>Proyecto desarrollado por<br><a href="http://laboratoria.la" target="_blank">laboratoria.la</a></p> </div></div>
              </div>
              <div class="col-md-3 border-right">
                <h3 class="bold">Aequales Perù</h3>
                <h4 class="bold">942 773 788</h4>
                <!--<h4 class="thin">Calle Flora Tristán 430, San Isidro</h4>-->
                <h4 class="light pt-0"><a href="mailto:andrea.delapiedra@aequales.com">andrea.delapiedra@aequales.com</a></h4>
              </div>
              <div class="col-md-4 plp-7 box-colombia">
                <h3 class="bold">Aequales Colombia</h3>
                <h4 class="bold">942 773 788</h4>
                <!--<h4 class="light">Calle Flora Tristán 430, San Isidro</h4>-->
                <h4 class="light pt-0"><a href="mailto:maria.perdomo@aequales.com">maria.perdomo@aequales.com</a></h4>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    
		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=hermanmarin" async="async"></script>
    
    <!-- APP SCRIPTS -->
    <script src="{site_url}assets/js/jquery.min.js"></script>
    <script src="{site_url}assets/js/collapse.js"></script>
    <script src="{site_url}assets/js/dropdown.js"></script>
    <script src="{site_url}assets/js/transition.js"></script>
    <script src="{site_url}assets/js/laboratoriaBanner.js"></script>
    <script src="{site_url}assets/js/scripts.min.js"></script>

  </body>
</html>