<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aequales</title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content=""> 
    <meta name="author" content="@MadeByGus">
    
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://aequales.com">
<!--     {if channel="blog" embed="titulo"}
      <meta property="og:title" content="{embed="titulo"}">
    {if:else} -->
      <meta property="og:title" content="Acompañamos a las empresas en su camino a la equidad">
   <!--  {/if} -->
    <meta property="og:site_name" content="Aequales">
    <meta property="og:description" content="Trabajamos para reducir las brechas de género en el lugar de trabajo para crear igualdad de condiciones y fomentar un mejor ambiente de trabajo y una mayor productividad.">
    <meta property="og:image" content="{site_url}images/homepageimage/bg-aequales.jpg">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="Acompañamos a las empresas en su camino a la equidad">
    <meta name="twitter:url" content="http://aequales.com">
    <meta name="twitter:description" content="Trabajamos para reducir las brechas de género en el lugar de trabajo para crear igualdad de condiciones y fomentar un mejor ambiente de trabajo y una mayor productividad.">
    <meta name="twitter:site" content="Aequales">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="{site_url}images/homepageimage/bg-aequales.jpg">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="http://aequales.com/favicon.ico">

    <!-- Apple Mobile -->
    <meta name="apple-mobile-web-app-title" content="Acompañamos a las empresas en su camino a la equidad">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Apple icons -->
    <link rel="apple-touch-icon" sizes="156x156" href="#">
    <link rel="apple-touch-icon" sizes="128x128" href="#">
    <link rel="apple-touch-icon" sizes="76x76" href="#">
    <link rel="apple-touch-icon" href="#">
        
    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{site_url}assets/icons/favicon.ico">
    <!-- WebFonts -->

    <!-- APP STYLES 
      *Run grunt build when ready
      <link rel="stylesheet" href="assets/css/style.pkgd.min.css">
    -->
    <link href="{site_url}assets/css/style.css" rel="stylesheet">
    <link href="{site_url}assets/css/ebm.css" rel="stylesheet">
    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-60888015-1', 'auto');
       ga('send', 'pageview');
    </script>
  </head>
  <body>