      <div class="site-menu"></div>
    	<header class="header bg-gray-lighter">
        <div class="container-fluid">
          <div class="col-sm-4 pl-0">
            <a href="{site_url}" class="logo"><img src="{site_url}assets/icons/aequales-logo.png" alt="" width="85"></a>
          </div>
          <div class="flex-middle">
            <div class="main-nav">
              <div class="navbar mb-0">
                <div class="navbar-header">
                  <button type="button" class="tcon tcon-menu--xcross hidden-lg pull-right" aria-label="toggle menu" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="tcon-menu__lines" aria-hidden="true"></span>
                    <span class="tcon-visuallyhidden">toggle menu</span>
                  </button>
                </div>

                <div class="navbar-collapse collapse text-right">
                  <nav class="main-nav mt-21">
                    <a href="{site_url}#problematica" class="uppercase h5">Problemática</a>
                    <a href="{site_url}#camino-equidad" class="uppercase h5">Servicios</a>
                    <a href="{site_url}#el-equipo" class="uppercase h5">Nosotros</a>
                    <a href="{site_url}blog" class="uppercase h5">Blog</a>
                    <a href="#equipo" class="equipo-header">Equipo</a>
                    <a href="{site_url}#contacta" class="uppercase h5">Contacto</a>
                  </nav>
                </div>
                <!--/.nav-collapse -->
              </div>
            </div>
          </div>
        </div>
      </header>