      <div class="site-menu"></div>
    	<header class="header bg-gray-lighter pl-7">
			  <div class="left col-sm-4 pl-0">
			    <a href="{site_url}" class="logo"><img src="{site_url}assets/icons/aequales-logo.png" alt="" class="p-7"></a>
			  </div>
        <div class="flex-middle">
  			  <div class="main-nav">
              <div class="navbar mb-0">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav pull-right">
                    <li class="active">
                      <a href="#problematica" class="h4 light mrp-7">Problemática</a>
                    </li>
                    <li>
                      <a href="#el-equipo" class="h4 light mrp-7">Nosotros</a>
                    </li>
                    <li>
                      <a href="#camino-equidad" class="h4 light mrp-7">Servicios</a>
                    </li>
                    <li>
                      <a href="#blog" class="h4 light mrp-7">Blog</a>
                    </li>
                    <li>
                      <a href="#contacto" class="h4 light">Contacto</a>
                    </li>
                  </ul>
                </div>
                <!--/.nav-collapse -->
              </div>
          </div>			
        </div>
      </header>