{embed="includes/header"}
{exp:channel:entries channel="blog" limit="1"}
    <div class="site-wrapper">
			{embed="includes/menu"}
			<div class="site-content">
        <section id="blog pv-70">
          <div class="container-sm pv-70">
            <h2 class=" mb-0 pb-0">{title}</h2>
            <p class="text-gray-light">Autor: {blog_autor}</p>
            <div class="row pv-35">
	            <div class="col-sm-12">
								<img src="{imgen_blog}" alt="" class="img-responsive" width="100%">
	            </div>
            </div>
            <div class="pb-35">
              <p class="text-gray regular">{blog_contenido}</p>
            </div>
          </div>
        </section>   
      </div>
{/exp:channel:entries}
{embed="includes/footer"}
