footer {
  padding: 20px;
  min-height: 100px !important;
  ul {
   list-style:none;
   padding-right: 21px;
   li {
    font-size: 1.5em;
    // color: $gray-darkest;
    &:last-of-type {
      color: $gray-dark;
    }
   }
   }
}

.made-by-laboratoria {
  height:60px;
  margin-left: 35px;
  // color: $gray-darkest;
}

.logo-laboratoria-footer {
  float:left;
  height:100%;
  width:60px;
  line-height:60px;
  background: orange;
  font-size:2em;
  text-align:center;
  line-height:60px;
}

.hover-made-by-laboratoria {
  display:none;
  float:left;
  color: $gray-dark;
  height:100%;
  width:210px;
  text-align:left;
  background:#F2F2F2;
  padding:10px;
  p {
    padding: 0;
    line-height:20px;
  }
  span {
    color: $brand-success;
  }
}

.made-by-laboratoria:hover .hover-made-by-laboratoria {
  display: inherit;
}
