html,
body {
	min-height: 100%;
	height: 100%;
	background-color: $body-bg;
	// overflow-x: hidden;
	&::-webkit-scrollbar { 
    display: none; 
	}
}

// SIZE CONTROL VARS
$size-control-placeholder: 530px;
	// Banners
$banner-height: 140px;
	// Site menu
$site-menu-width-control: 101px;
$menu-list-icons-width: 35px;
	// Header
$header-height-control: 70px;
	// Mobile header
$mobile-navbar-height: 56px;
	// Hero Unit and Videocover
$video-bg-height: 590px;
	// User cards
$user-card-height: 42px;
$user-card-width: 70px;

.site-wrapper,
.site-content {
	min-height: 100%;
	// height: 100%;
	position: relative;
}

// HERO UNIT
.hero-unit {
	position: relative;
	height: $video-bg-height;
	@include bg-img-control;
	&.video-bg {
		overflow: hidden;
		height: $video-bg-height;
	}
	.overlay {
		@include position(absolute, 0 0 0 0);
		height: $video-bg-height;
	}
}

// CLICKABLE DIV
[data-href]{
	cursor: pointer;
}

#problematica {
	.title {
		color: black;
	}
	.circle {
		border: 3px solid #5CBBAA;
		height: 210px;
		width: 210px;
		margin-left: 70px;
		color: #5bbaac;
		&:hover{
			background-color: #E1A100;
			color: white;
			border: 3px solid #E1A100;
		}
		h1 {
			font-size: 65px;
			margin-top: 56px;
			
		}
	}
}

.big-text {
	font-size: 110px;
	font-size: 7.21429rem;
}

#beneficios-equidad {
	.content {
		border: 2px solid white;
		border-radius: 17px;
		padding: 9px;
		height: 428px;
		.title-grid {
			border-bottom: 1px solid white;
		}
		&:hover {
			background: rgba(255,255,255,0.2);	
			border: 1px solid #5CBBAA;
		}
	}
}

#talleres {
	.content {
		border: 2px solid #BAB9B6;
		border-radius: 17px;
		padding: 9px;
		height: 428px;
		.title-grid {
			border-bottom: 1px solid $gray-light;
		}
		&:hover {
			background-color: $brand-success;	
			border: 2px solid $brand-success;
			color: white;
			.title-grid {
				border-bottom: 1px solid white;
			}
		}
	}
}

.line {
	background-color: $brand-primary;
	width: 630px;
	height: 2px;
	position: absolute;
}

#blog {
	.blog-content {
		border-right: 1px solid #ccc;
	}
	.col-md-4 {
		&:hover {
			background-image: url(../../assets/img/leaf.jpg);
			background-color: rgba(111, 111, 110, 0.7);
			background-size: cover;
			color: white;
		}
	}
}

#camino-equidad {
	.lupa {
		background-image: url(../../assets/icons/Lupa.png);
		width: 131px;
		height: 131px;
		border: 3px solid #ccc;
		background-position: center;
		background-repeat: no-repeat;
		&:hover {
			background:  $brand-success;
			background-image: url(../../assets/icons/blanco_investigacion.png);
			background-position: center;
			background-repeat: no-repeat;
			border: 3px solid $brand-success;
		}
	}
	.idea {
		background-image: url(../../assets/icons/Idea.png);
		width: 131px;
		height: 131px;
		border: 3px solid #ccc;
		background-position: center;
		background-repeat: no-repeat;
		&:hover {
		background-color:  $brand-success;
		background-image: url(../../assets/icons/foco_blanco.png);
		background-position: center;
		background-repeat: no-repeat;
		border: 3px solid $brand-success;
		}
	}
	.herramienta {
		background-image: url(../../assets/icons/Herramienta.png);
		width: 131px;
		height: 131px;
		border: 3px solid #ccc;
		background-position: center;
		background-repeat: no-repeat;

		&:hover {
			background:  $brand-success;
			background-image: url(../../assets/icons/blanco_tuerca.png);
			background-position: center;
			background-repeat: no-repeat;
			border: 3px solid $brand-success;
		}
	}

	.tabla {
		background-image: url(../../assets/icons/Tabla.png);
		width: 131px;
		height: 131px;
		border: 3px solid #ccc;
		background-position: center;
		background-repeat: no-repeat;
		&:hover {
			background:  $brand-success;
			background-image: url(../../assets/icons/blanco_tabla.png);
			background-position: center;
			background-repeat: no-repeat;
			border: 3px solid $brand-success;
		}
	}
}

.involucrate {
	.cuadrado-involucrate {
		width:100%;
		height:280px;
		background: black;
		margin: 0 auto;
		position: relative;
	}
	.involucrate-background {
		width: 100%;
		height: 100%;
		z-index: 20;
	}

	.bottom-half-container {
		height: 84%;
		position: absolute;
		bottom:0;
		width:100%;
			h3, a {
				display:block;
				text-align: center;
				margin: 0 auto;
				font-weight: 500;
				color: #fff;
			}
			h3 {
				margin-bottom: 14px;
			}
			a {
				visibility:hidden;
				font-size: 1.6em;
				&:hover {
					text-decoration: none;
				}
			}
	}

	.overlay-involucrate {
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background: rgba(0,0,0,0.3);
	}

	.cuadrado-involucrate:hover .overlay-involucrate {
		background: rgba(0,0,0,0.5);
		z-index: 30;
		a {
			visibility: visible;
		}
	}
}

.btn-outline2{
		border-radius: 7px;
		padding: 14px;
		margin: 0 auto 56px;
		transition: all 0.3s ease;
		&.btn-success2 {
			color: $brand-success;
			border: 1px solid $brand-success;
			&:hover {
				background: $brand-success;
				color: $gray-lighter;
			}
		}
		&.btn-gray-lighter2 {
			color: $gray-lighter;
			border: 1px solid $gray-lighter;
			&:hover {
				background: $gray-lighter;
				color: $gray-darker;
			}
		}
	}
	.btn-outline2-mini {
		@extend .btn-outline2;
		padding:7px;
		width: 50%;
		border-radius: 4px;
	}
