{embed="includes/header"}
    <div class="site-wrapper">
			{embed="includes/menu"}
			{exp:channel:entries channel="homepage_imagen" limit="1"}
			<div class="site-content">
        <section id="blog">
          <div class="container">
            <h2 class="pull-left mh-7">Blog: </h2> <h2 class="thin">Huancavelica</h2>
            <img src="assets/img/z8.JPG" alt="" class="img-responsive">
            <div class="mvp-7 php-7">
              <p class="text-gray-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laboriosam voluptatem commodi facilis, nulla aut mollitia soluta accusamus repudiandae accusantium illo quia, modi, minima rem, fuga sequi dolor alias doloribus.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic necessitatibus, beatae tempora fuga maiores corporis non unde minima. Porro cumque, nisi saepe commodi recusandae id! Laboriosam, alias. In, asperiores, atque.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio cum eius cupiditate similique dolor blanditiis tempore quod ut eligendi iusto laboriosam voluptatibus culpa velit dicta corrupti doloribus atque, animi magni.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, error beatae rem iusto aspernatur dicta magnam quos magni, sunt impedit fuga qui adipisci similique, perferendis dolorem nostrum laudantium deserunt inventore.</p>
            </div>
          </div>
        </section>   
      </div>
{embed="includes/footer"}