{embed="includes/header"}
    <div class="site-wrapper">
			{embed="includes/menu"}
			{exp:channel:entries channel="homepage_imagen" limit="1"}
			<div class="site-content">
        <section id="blog">
          <div class="container">
            <img src="assets/img/foto-ruwa.JPG" alt="" class="img-responsive">
            <div class="text-center mvp-7">
              <h1>Nuestros Programas</h1>
            </div>
            <div class="row text-center mb-42">
              <div class="col-md-4">
                <img src="assets/img/foto-ruwa.JPG" alt="" class="img-responsive">
                <h3>Lorem rem ipsa recusandae</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quis distinctio eos numquam et neque vel ea quae obcaecati nam doloremque, quos magni dolore.</p>
              </div>
              <div class="col-md-4">
                <img src="assets/img/foto-ruwa.JPG" alt="" class="img-responsive">
                <h3>Lorem rem ipsa recusandae</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quidem tenetur eius officiis, perferendis nobis esse maiores. Sequi dolore quisquam, temporibus.</p>
              </div>
              <div class="col-md-4">
                <img src="assets/img/foto-ruwa.JPG" alt="" class="img-responsive">
                <h3>Lorem rem ipsa recusandae</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, et. Quo vero ipsa maiores odit doloribus ad iure voluptatum itaque, blanditiis iste reprehenderit.</p>
              </div>
            </div>
            <div class="row bg-gray-lighter text-center pt-35">
              <h2>Nuestras Estrategias Transversales</h2>
              <div class="col-md-4 mvp-7">
                <img src="assets/icons/Paisaje.svg" alt="">
                <h3>Estrategia Ambiental</h3>
              </div>
              <div class="col-md-4 mvp-7">
                <img src="assets/icons/Personitas.svg" alt="">
                <h3>Estrategia de Desarrollo Integral</h3>
              </div>
              <div class="col-md-4 mvp-7">
                <img src="assets/icons/Frutas.svg" alt="">
                <h3>Estrategia Nutricional</h3>
              </div>
            </div>
            <div class="row text-center mv-21">
              <h1 class="mv-56">Nuestras Áreas de Intervención</h1>
              <div class="col-md-6">
                <img src="assets/img/z8.JPG" alt="" class="img-responsive">
                <h2>Manchay</h2>
              </div>
              <div class="col-md-6">
                <img src="assets/img/z8.JPG" alt="" class="img-responsive">
                <h2>Huancavelica</h2>
              </div>
            </div>
          </div> 
        </section>   
      </div>
{embed="includes/footer"}