{embed="includes/header"}
    <div class="site-wrapper">
			{embed="includes/menu"}
			<div class="hero-unit" style="background-image: url({site_url}assets/img/bg-aequales.jpg)"> <!-- HERO-UNIT -->
			  <!-- <div class="video-placeholder" style="background: url({site_url}assets/img/project-bg-1.jpg) no-repeat center top;"></div> -->
			  <div class="overlay flex-middle">
			    <div class="container-sm"></div>
			  </div>
			</div> <!-- END:Hero-unit -->
		  <div class="text-fold text-center bg-gray-lighter">
		  	<div class="container pv-35 ph-21">
		  		<h3 class="thin">Trabajamos para reducir las brechas de género en el lugar de trabajo para crear igualdad de condiciones y fomentar un mejor ambiente de trabajo y una mayor productividad.</h3>
		  	</div>
		  </div>
      <div class="site-content">
      	<section id="problematica">
      		<div class="container-fluid text-center pv-63">
      			<div class="row text-center">
      				<h1 class="medium mbp-7 lead mt-0 title">Problemática</h1>
  						<div class="col-md-1"></div>
      				<div class="col-md-3 pt-21">
      					<div class="circle img-circle">
      						<h1 class="thin">12%</h1>
      					</div>
								<div class="info mt-21">
									<h4 class="book">De las empresas en Colombia cuentan con mujeres en posiciones de liderazgo </h4>
								</div>
      				</div>
      				<div class="col-md-3 pt-21">
      					<div class="circle img-circle">
      						<h1 class="thin">14%</h1>
      					</div>
								<div class="info mt-21">
									<h4 class="book">De las empresas en Perú cuentan con mujeres en posiciones de liderazgo </h4>
								</div>
      				</div>
      				<div class="col-md-4">
      					<img src="{site_url}assets/icons/grafica.png">
      				</div>
      			</div>
      		</div>
      	</section>
        <section id="beneficios-equidad" class="bg-info">
          <div class="container-fluid text-center pv-63">
            <ul class="grid-list grid-list-3 grid-list-1-xs grid-list-2-sm mhp-7">
              <h1 class="medium lead mt-0 text-white">Beneficios de la Equidad</h1>
              <li class="grid-list-item text-white">
                <div class="content">
                  <div class="title-grid">
                    <h2 class="mt-0">Productividad</h2>
                  </div>
                  <p class="thin lead mt-21">Empresas con equidad en cargos directivos, superan a las que no en</p>
                  <h1 class="light big-text">26%</h1>
                  <p class="thin lead">en el retorno de<br> la inversiòn.</p>
                </div>
              </li>
              <li class="grid-list-item text-white">
                <div class="content">
                  <div class="title-grid">
                    <h2 class="mt-0">Mercadeo</h2>
                  </div>
                  <p class="thin lead mt-21">Las mujeres<br>toman el</p>
                  <h1 class="light big-text">70%</h1>
                  <p class="thin lead">de las decisiones de compra en el mundo</p>
                </div>
              </li>
              <li class="grid-list-item text-white">
                <div class="content">
                  <div class="title-grid">
                    <h2 class="mt-0">Cultura Organizacional</h2>
                  </div>
                    <ul class="list-unstyled mtp-14">
                      <li class="p thin lead">Colaboraciòn</li>
                      <li class="p thin lead">Innovaciòn</li>
                      <li class="p thin lead">Comunicaciòn</li>
                      <li class="p thin lead">No corrupciòn</li>
                    </ul>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section id="camino-equidad">
          <div class="container-fluid text-center mt-49 mbp-7">
            <h1 class="lead medium">El camino a la Equidad</h1>
            <p class="lead mhp-14 mv-49">Acompañamos a las empresas en su camino a la equidad mediante un proceso de consultoría detallada adecuada a los diferentes tamaños, necesidades y tipos de empresa. </p>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-2">
                <div class="lupa img-circle ml-56">
                  
                </div>
                <h3 class="mt-35">DIGNÓSTICO</h3>
                <h4 class="mt-42 thin">Evalución de políticas, procesos, cifras y percepciones.</h4>
              </div>
              <div class="col-md-2">
                <div class="idea img-circle ml-56">
                  
                </div>
                <h3 class="mt-35">DISEÑO DEL PLAN DE TRABAJO</h3>
                <h4 class="thin">Diseño del plan de trabajo para potenciar las áreas de oportunidad.</h4>
              </div>
              <div class="col-md-2">
                <div class="herramienta img-circle ml-56">
                  
                </div>
                <h3 class="mt-35">EJECUCIÓN</h3>
                <h4 class="mt-42 thin">Validación del plan y desarrollo de las acciones por trabajar.</h4>
              </div>
              <div class="col-md-2">
              <div class="tabla img-circle ml-56">
                  
                </div>
                <h3 class="mt-35">EVALUACIÓN</h3>
                <h4 class="mt-42 thin">Revisión y evaluación de resultados del plan de acción.</h4>
              </div>
              <div class="col-md-2"></div>
            </div>
            <!-- <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="line"></div>
              </div>
              <div class="col-md-2"></div>
            </div> -->
          </div>
        </section>
        <section id="talleres" class="bg-gray-lighter">
          <div class="container-fluid text-center pvp-7">
            <ul class="grid-list grid-list-3 grid-list-1-xs grid-list-2-sm mhp-7">
              <h1 class="medium lead mt-0">Talleres</h1>
              <li class="grid-list-item">
                <div class="content">
                  <div class="title-grid">
                    <h2 class="mt-0">Productividad</h2>
                  </div>
                  <p class="thin lead mt-21">Empresas con equidad en cargos directivos, superan a las que no en</p>
                  <h1 class="light big-text">26%</h1>
                  <p class="thin lead">en el retorno de<br> la inversiòn.</p>
                </div>
              </li>
              <li class="grid-list-item">
                <div class="content">
                  <div class="title-grid">
                    <h2 class="mt-0">Mercadeo</h2>
                  </div>
                  <p class="thin lead mt-21">Las mujeres<br>toman el</p>
                  <h1 class="light big-text">70%</h1>
                  <p class="thin lead">de las decisiones de compra en el mundo</p>
                </div>
              </li>
              <li class="grid-list-item">
                <div class="content">
                  <div class="title-grid">
                    <h2 class="mt-0">Cultura Organizacional</h2>
                  </div>
                    <ul class="list-unstyled mtp-14">
                      <li class="p thin lead">Colaboraciòn</li>
                      <li class="p thin lead">Innovaciòn</li>
                      <li class="p thin lead">Comunicaciòn</li>
                      <li class="p thin lead">No corrupciòn</li>
                    </ul>
                </div>
              </li>
            </ul>
          </div>
        </section>
      	<section id="el-equipo" class="bg-white minhp-100 pv-70">
      		<div class="container-fluid text-center">
	      		<h1 class="medium lead">El Equipo</h1>
	      		<ul class="grid-list grid-list-3 grid-list-1-xs grid-list-2-sm ">
		      		{exp:channel:entries channel="equipo" limit="3"}
	      			<li class="grid-list-item normalize-text">
	      				<div class="banner half-height">
	      					<div class="banner-pic">
	      						<img src="{fotografia}" alt="Nombre de la persona" class="img-circle" style="width: 140px; height: 140px; ">
	      					</div>
	      					<div class="banner-content ph-56">
	      						<div class="pv-21">
		      						<h3>{title}</h3>
		      						<h5>{cargo}</h5>
		      						<span>{pais}</span>
	      						</div>
	      						<p>{introduccion}</p>
	      					</div>
	      				</div>
	      			</li>
	      			{/exp:channel:entries}
	      		</ul>
      		</div>
      	</section>
        <section id="aliados" class="bg-gray-lighter">
          <div class="container text-center pvp-7">
            <h1>Aliados y Clientes</h1>
            <div class="row mt-56">
	            {exp:channel:entries channel="aliados" limit="3"}
              <div class="col-md-4">
                <img src="{logo}" class="img-responsive" alt="">
              </div>
              {/exp:channel:entries}
            </div>
          </div>
        </section>
        <section id="blog">
          <div class="container-fluid">
            <div class="row text-center page-block involucrate">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="home">Blog</h2>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="row mv-42">
                  {exp:channel:entries channel="blog" limit="3"}
                  <div class="col-sm-4">
                    <div class="cuadrado-involucrate">
                      <div class="involucrate-background ignore-srcset" style="background:url('{imgen_blog}'); background-size: cover;">
                      </div>
                      <div class="overlay-involucrate">
                        <div class="bottom-half-container">
                          <h3>{title}</h3>
                          <p class="text-white lead thin">{blog_introduccion}</p>
                          <a href="{site_url}/blog/post/{url_title}" class="btn-outline2-mini btn-gray-lighter2">Ver más</a>
                        </div>
                      </div>
                    </div>
                  </div>
									{/exp:channel:entries}
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="siguenos" class="minhp-50 bg-info pv-63">
          <div class="container">
            <div class="row pt-35">              
              <ul class="grid-list grid-list-centered grid-list-1-xs grid-list-3 social grid-list-anchors">
                <li>
                  <a href="https://www.facebook.com/laboratoria.la" class="facebook">
                    <h1>Comenta</h1>
                    <div class="overlay">
                    </div>
                    <div class="icon"></div>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/LaboratoriaLA" class="twitter">
                    <h1>Comparte</h1>
                    <div class="overlay">
                    </div>
                    <div class="icon"></div>
                  </a>
                </li>
                <li>
                  <a href="mailto:sumate@laboratoria.la" class="contact">
                    <h1>Contacta</h1>
                    <div class="overlay">
                    </div>
                    <div class="icon"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
{embed="includes/footer"}