{embed="includes/header"}
    <div class="site-wrapper">
			{embed="includes/menu"}
			{exp:channel:entries channel="homepage_imagen" limit="1"}
			<div class="hero-unit mtp-7" style="background-image: url({homepage_imagen})"> <!-- HERO-UNIT -->
			  <!-- <div class="video-placeholder" style="background: url({site_url}assets/img/project-bg-1.jpg) no-repeat center top;"></div> -->
			  <div class="overlay flex-middle text-fold">
			    <div class="container text-center">
              <h2 class="text-white mtp-28">Acompañamos a las empresas en su camino a la equidad</h2> 
              <a href="#text-home"><img src="{site_url}assets/icons/arrow397.png" alt=""></a>
          </div>
			  </div>
			</div> <!-- END:Hero-unit -->
			{/exp:channel:entries}
		  <div class="text-fold text-center bg-gray-lighter">
		  	<div class="container pv-49 ph-21 normalize-text" id="text-home">
		  		<h4 class="bold"  id="problematica">Aequales es una organización que promueve el empoderamiento laboral de las mujeres a través de consultoría especializada en procesos, cultura y políticas organizacionales con un enfoque de género. Trabajamos para reducir las brechas de género y así generar beneficios para las empresas.</h4>
		  	</div>
		  </div>
      <div class="site-content">
      	<section>
      		<div class="container-fluid text-center pv-70">
      			<div class="row text-center" id="problematica">
      				<h1 class="mb-63 mt-0 title lead">Problemática</h1>
  						<div class="col-md-1"></div>
      				<div class="col-md-3 pt-21">
      					<div class="circle img-circle">
      						<h1 class="thin">12%</h1>
      					</div>
								<div class="info mt-21">
									<h4 class="regular">De las empresas en Colombia cuentan con mujeres en posiciones de liderazgo </h4>
								</div>
      				</div>
      				<div class="col-md-3 pt-21">
      					<div class="circle img-circle">
      						<h1 class="thin">14%</h1>
      					</div>
								<div class="info mt-21">
									<h4 class="regular">De las empresas en Perú cuentan con mujeres en posiciones de liderazgo </h4>
								</div>
      				</div>
      				<div class="col-md-4 img-piramide">
      					<img src="{site_url}assets/icons/grafica.png">
      				</div>
      			</div>
      		</div>
      	</section>
        <section id="beneficios-equidad" class="bg-info">
          <div class="container-fluid text-center pv-70">
            <ul class="grid-list grid-list-3 grid-list-1-xs grid-list-2-sm mhp-7">
              <h1 class="lead m-0 text-white">Beneficios de la Equidad</h1>
              <p class="text-center text-white lead regular mb-35 mh-21">Las empresas encuentran múltiples beneficios al contar con mujeres en sus equipos y en posiciones de liderazgo, tanto a nivel de productividad y competitividad como en la cultura organizacional</p>
              <li class="grid-list-item text-white">
                <div class="content">
                  <div class="title-grid">
                    <h2 class="mt-0">Productividad</h2>
                  </div>
                  <p class="lead regular mt-21">Empresas con equidad en cargos directivos, superan a las que no en</p>
                  <h1 class="regular big-text">26%</h1>
                  <p class="lead regular">en el retorno de<br> la inversiòn.</p>
                </div>
              </li>
              <li class="grid-list-item text-white">
                <div class="content">
                  <div class="title-grid">
                    <h2 class="mt-0">Marketing</h2>
                  </div>
                  <p class="lead regular mt-21 mb-42">Las mujeres actualmente<br> toman el</p>
                  <h1 class="regular big-text">70%</h1>
                  <p class="lead regular">de las decisiones de compra en el mundo</p>
                </div>
              </li>
              <li class="grid-list-item text-white">
                <div class="content">
                  <div class="title-grid">
                    <h2 class="mt-0">Cultura Organizacional</h2>
                  </div>
                    <ul class="text-left list-beneficios mtp-14 ml-56">
                      <li class="p mb-14 lead regular">Colaboración</li>
                      <li class="p mb-14 lead regular">Innovación</li>
                      <li class="p mb-14 lead regular">Comunicación</li>
                      <li class="p mb-14 lead regular">No corrupción</li>
                    </ul>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section id="camino-equidad">
          <div class="container-fluid text-center pv-70 php-7">
            <h1 class="lead m-0 text-black">El camino a la Equidad</h1>
            <p class="lead mhp-7 mb-49 mt-0 regular">Acompañamos a las empresas en su camino a la equidad mediante un proceso de consultoría detallada adecuada a los diferentes tamaños, necesidades y tipos de empresa. </p>
            <div class="row">
              <div class="col-md-3">
                <div class="lupa img-circle mlp-28"></div>
                <h4 class="mt-35">DIAGNÓSTICO</h4>
                <p class="regular ph-14">Evalución de políticas, procesos, cifras y percepciones.</p>
              </div>
              <div class="col-md-3">
                <div class="idea img-circle mlp-28">
                  
                </div>
                <h4 class="mt-35">PLAN DE TRABAJO</h4>
                <p class="regular">Diseño del plan de trabajo para potenciar las áreas de oportunidad.</p>
              </div>
              <div class="col-md-3">
                <div class="herramienta img-circle mlp-28">
                  
                </div>
                <h4 class="mt-35">EJECUCIÓN</h4>
                <p class="regular">Validación del plan y desarrollo de las acciones por trabajar.</p>
              </div>
              <div class="col-md-3">
              <div class="tabla img-circle mlp-28">
                  
                </div>
                <h4 class="mt-35">EVALUACIÓN</h4>
                <p class="regular ph-14">Revisión y evaluación de resultados del plan de acción.</p>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="line"></div>
              </div>
              <div class="col-md-2"></div>
            </div> -->
          </div>
        </section>
        <section id="talleres" class="bg-gray-lighter">
          <div class="container-fluid text-center pv-70">
            <ul class="grid-list grid-list-3 grid-list-1-xs grid-list-2-sm mhp-7">
              <h1 class="lead m-0 text-black">Talleres</h1>
              <p class="text-center lead regular mb-35 mhp-7">Aequales ofrece capacitaciones para mujeres y hombres de todos los niveles en las organizaciones con el fin de abordar dinámicas interpersonales para lograr la equidad y el liderazgo en los equipos y en la cultura organizacional.</p>
              {exp:channel:entries channel="talleres" limit="6"}
              <li class="grid-list-item">
                <div class="content bg-info">
                  <div class="title-grid">
                    <h4 class="mt-0 text-white">{title}</h4>
                  </div>
                  <p class="regular mt-21 text-white">{talleres_introduccion}</p>
                </div>
              </li>
              {/exp:channel:entries}
            </ul>
          </div>
        </section>
      	<section id="el-equipo" class="bg-white minhp-100 pv-70">
      		<div class="container-fluid text-center ph-70">
	      		<h1 class="text-black lead pb-35">El Equipo</h1>
	      		<ul class="grid-list grid-list-3 grid-list-1-xs grid-list-2-sm ">
		      		{exp:channel:entries channel="equipo" limit="3"}
	      			<li class="grid-list-item normalize-text">
	      				<div class="banner half-height">
	      					<div class="banner-pic">
	      						<img src="{fotografia}" alt="Nombre de la persona" class="img-circle" style="width: 140px; height: 140px; ">
	      					</div>
	      					<div class="banner-content">
	      						<div class="pt-21 pb-14">
		      						<h4 class="bold text-gray-dark">{title}</h4>
		      						<p class="regular"><em>{pais}</em></p>
	      						</div>
	      						<p class="regular">{introduccion}</p>
                    <div class="redes-sociales plp-35 mv-14 ml-14">
                      <a href="{twitter}"><img src="{site_url}assets/icons/Twitter-2.png" class="img-responsive pull-left" alt=""></a>
                      <a href="{facebook}"><img src="{site_url}assets/icons/Linkedin-3.png" class="img-responsive pull-left" alt=""></a>
                    </div>
	      					</div>
	      				</div>
	      			</li>
	      			{/exp:channel:entries}
	      		</ul>
      		</div>
      	</section>
        <section id="aliados" class="bg-gray-lighter">
          <div class="container text-center pv-70">
            <h1 class="text-black lead">Aliados y Clientes</h1>
            <div class="row mt-56">
	            {exp:channel:entries channel="aliados" limit="6"}
              <div class="col-md-3">
                <img src="{logo}" class="img-responsive" alt="{title}" width="70%">
              </div>
              {/exp:channel:entries}
            </div>
          </div>
        </section>
        <section id="blog">
          <div class="container-fluid pv-70">
            <div class="row text-center page-block involucrate">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="home lead m-0 text-black">Blog y Noticias</h1>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="row mv-42">
                  {exp:channel:entries channel="blog" limit="3"}
                  <div class="col-sm-4">
                    <div class="cuadrado-involucrate mb-14">
                      <div class="involucrate-background ignore-srcset" style="background:url('{imgen_blog}'); background-size: cover;">
                      </div>
                      <div class="overlay-involucrate">
                        <div class="bottom-half-container p-21">
                          <h4 class="regular text-white">{title}</h4>
                          <!--<p class="text-white thin pb-21">{blog_introduccion}</p>-->
                          <a href="{site_url}/blog/post/{url_title}" class="btn-outline2-mini btn-gray-lighter2 btn-sm">VER MÁS</a>
                        </div>
                      </div>
                    </div>
                  </div>
									{/exp:channel:entries}
                </div>
                <div class="row">
                	<h4 class="mt-21 regular">
	                	<a href="{site_url}blog">Lee todos los artículos ›</a>
	                </h4>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="siguenos" class="minhp-50 bg-info pv-70">
          <div class="container">
            <h1 class=" lead text-center m-0 text-white">Siguenos</h1>
            <div class="row pt-35">              
              <ul class="grid-list grid-list-centered grid-list-1-xs grid-list-3 social grid-list-anchors">
                <li>
                  <a href="https://www.facebook.com/aequales" class="facebook">
                    <h1>Sigúenos en Facebook</h1>
                    <div class="overlay">
                    </div>
                    <div class="icon"></div>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/aequalesla" class="twitter">
                    <h1>Síguenos en Twitter</h1>
                    <div class="overlay">
                    </div>
                    <div class="icon"></div>
                  </a>
                </li>
                <li>
                  <a href="#" class="contact" data-toggle="modal" data-target=".modal-1">
                    <h1>Contacta</h1>
                    <div class="overlay">
                    </div>
                    <div class="icon"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
{embed="includes/footer"}